#maindiv {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-weight: 700;
    color: $black;
    background-color: $orange;
    margin-top: 80px;
    padding: 16px 0;
}

#div1 {
    display: inline-block;
    animation: marquee 30s linear infinite;
    font-size: 27px;
    width: 100%;
}

#div2 {
    display: inline-block;
    animation: marquee2 30s linear infinite;
    animation-delay: 15s;
    font-size: 27px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}
