#maindiv {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    color: $black;
    background-color: $orange;
    position: relative;

    padding: 16px 0;
    margin: 0 auto;
    margin-top: 80px;
    width: 100%;

}

#div1 {
    display: inline-block;
    animation: marquee 30s linear infinite;
    font-size: 28px;
    width: 100%;
}

#div2 {
    display: inline-block;
    animation: marquee2 30s linear infinite;
    animation-delay: 5s;
    font-size: 28px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}
