.d-flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.text-outline {
    font-weight: 700;
    font-size: 68px;
    color: rgba(171, 171, 171, 1);
    opacity: 0.7;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.text-dark {
    color: $gray-600;
}

.color-light {
    color: $white;
}

.btn-whats {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 20px;
    background-color: $green;
    padding: 12px 12px 10px 13px;
    border-radius: 50px;
    z-index: 10;
    -webkit-box-shadow: 5px 1px 15px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 1px 15px 2px rgba(0, 0, 0, 0.26);
}

/* Classes para margin */
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 1.5rem;
}
.mt-5 {
    margin-top: 3rem;
}

.mt-40 {
    margin-top: 40px;
}

.mr-1 {
    margin-right: 0.25rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mr-3 {
    margin-right: 1rem;
}
.mr-4 {
    margin-right: 1.5rem;
}
.mr-5 {
    margin-right: 3rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.mb-5 {
    margin-bottom: 3rem;
}

.ml-1 {
    margin-left: 0.25rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.ml-3 {
    margin-left: 1rem;
}
.ml-4 {
    margin-left: 1.5rem;
}
.ml-5 {
    margin-left: 3rem;
}

/* Classes para padding */
.pt-1 {
    padding-top: 0.25rem;
}
.pt-2 {
    padding-top: 0.5rem;
}
.pt-3 {
    padding-top: 1rem;
}
.pt-4 {
    padding-top: 1.5rem;
}
.pt-5 {
    padding-top: 3rem;
}

.pr-1 {
    padding-right: 0.25rem;
}
.pr-2 {
    padding-right: 0.5rem;
}
.pr-3 {
    padding-right: 1rem;
}
.pr-4 {
    padding-right: 1.5rem;
}
.pr-5 {
    padding-right: 3rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pb-3 {
    padding-bottom: 1rem;
}
.pb-4 {
    padding-bottom: 1.5rem;
}
.pb-5 {
    padding-bottom: 3rem;
}

.pl-1 {
    padding-left: 0.25rem;
}
.pl-2 {
    padding-left: 0.5rem;
}
.pl-3 {
    padding-left: 1rem;
}
.pl-4 {
    padding-left: 1.5rem;
}
.pl-5 {
    padding-left: 3rem;
}

/* Classes para espaçamento automático */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.swiper-button-next,
.swiper-button-prev {
    backdrop-filter: blur(10px);
    padding: 16px;
    border-radius: 50px;
    color: $white;
    border: 1px solid #ffffff2b;

    &:hover {
        background-color: $green;
        color: $white;
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: auto;
    right: 60px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 22px;
    left: auto;
}

:root {
    --swiper-navigation-size: 15px;
}

.swiper-pagination-bullet {
    background: #fff;
    transition: all 0.3s ease;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 89%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
