.s-service {
    @include paddingSection(90px);

    .d-flex {
        justify-content: space-evenly;
        margin-top: 40px;
        div {
            width: 24.5%;
            text-align: center;
            transition:
                all 0.5s ease,
                background-size 0.5s ease;
            &:hover {
                transform: scale(1.07);
            }
            p {
                margin-top: 10px;
                color: $green;
            }
        }
    }

    @include responsive($tablet) {
        .d-flex {
            flex-direction: column;
            div {
                width: 90%;
                margin: 0 auto;
                text-align: center;
                img {
                    border-radius: 10px;
                    margin: 0 auto;
                }
                p {
                    margin-top: 10px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.s-companys {
    overflow: hidden;
    background-color: #f8f8f8;

    .marquee-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
