.s-solutions {
    @include paddingSection(9rem);
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/50.webp);
    background-position: bottom;
    background-size: cover;

    .grid {
        display: grid;
        grid-template-columns: repeat(18, 1fr); /* 12 colunas */
        grid-template-rows: repeat(9, 1fr); /* 12 linhas */
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }

    .grid::before,
    .grid::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(
                to bottom,
                transparent,
                transparent calc(100% / 12 - 0.5px),
                rgba(255, 255, 255, 0.3) calc(100% / 12)
            ),
            repeating-linear-gradient(
                to right,
                transparent,
                transparent calc(100% / 18 - 0.5px),
                rgba(255, 255, 255, 0.3) calc(100% / 18)
            );
        pointer-events: none; /* Linhas puramente visuais */
    }

    .d-flex {
        justify-content: space-between;
        align-items: center;

        h2 {
            color: $white;
        }

        p {
            width: 65%;
            color: $gray-200;
        }
    }

    .flex-img {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 150px;
    }

    &__img-bottom {
        width: 31%;

        height: 230px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 20px;

        h3 {
            position: absolute;
            bottom: 15px;
            left: 15px;
        }
    }

    .img-1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/locacao.jpg);
    }

    .img-2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/terraplanagem.jpg);
    }

    .img-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/caminhoes.jpg);
    }

    @include responsive($tablet) {
        .d-flex {
            flex-direction: column;

            h2 {
                margin-bottom: 4rem;
            }

            p {
                width: 100%;
            }
        }

        .flex-img {
            flex-direction: column;
            margin-top: 50px;
        }

        &__img-bottom {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }
}
